.TodoList {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
  border-radius: 8px;
  box-shadow: 3px 2px 13px 1px rgba(107, 107, 107, 0.73);
}

.TodoList-container {
  width: 80%;
  flex: 1 0 100%;
  margin: 0px 50px 50px 50px;
  border: 2px solid rgba(107, 107, 107, 0.3);
  border-radius: 3px;
}

.TodoList-container > ul {
  padding-inline-start: 0px;
  list-style: none;
}
